parameters:
    level: 9
    paths:
        - src
        - examples
        - bin
    excludePaths:
        - piper1-gpl/*
    ignoreErrors:
        # FFI uses dynamic method calls that static analysis cannot understand
        - '#Call to an undefined method FFI::#'
        - '#Access to an undefined property FFI\\CData::#'
        - '#Parameter \#1 \$ptr of static method FFI::isNull\(\) expects FFI\\CData, object given#'
